@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: #ccc;
}

body {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(9, 73, 102, 0.1)), url(src/img/bg_1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.header {
    box-sizing: border-box;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    background: linear-gradient(180deg, #051a3d, transparent);
    backdrop-filter: blur(1rem);
    grid-template-columns: auto 1fr auto;
}

.logo {
    cursor: pointer;
    width: 150px;
}

.header ul {
    list-style: none;
    width: 100%;
    text-align: right;
    display: flex;
    justify-content: center;
}

.header ul li {
    margin: 10px 20px;
    color: #fff;
}

.header ul li a {
    text-decoration: none;
    padding: 10px;
    border-radius: 4px;
    transition: background-color 0.3s ease; /* Hiệu ứng mượt */
}

.header ul li a:hover {
    background-color: rgba(2, 12, 80, 0.2); /* Màu nền khi hover */
}

.btn-explore {
    max-width: 150px;
    display: inline-flex;
    padding: 12px 60px;
    background: linear-gradient(85.75deg, #ff3975 2.06%, #8346fe 95.46%);
    border-radius: 10px;
    transition: background-position 1s ease;
    cursor: pointer;
    font-weight: 800;
    text-transform: uppercase;
    background-position: 10% 50%;
    background-size: 200% 200%;
    border-style: none;
    align-items: center;
}

.btn-explore .icon-gg {
    transform: translateX(-30px);
    transition: transform 0.3s ease; /* Hiệu ứng di chuyển */
}

.btn-explore:hover .icon-gg {
    transform: translateX(-25px);
}

.btn-explore #login-text {
    transform: translateX(-20px);
}

.btn-explore:hover {
    background-position: 90% 50%; /* Di chuyển background */
}

.fade-in {
    opacity: 0; /* Ẩn thẻ ban đầu */
    transform: translateY(20px); /* Di chuyển từ dưới lên */
    animation: fadeIn 0.8s ease-in-out 0.2s forwards; /* Delay 0.5s */
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.icon-gg {
    vertical-align: bottom;
    margin-right: 4px;
}

.container {
    display: flex;
    align-items: center;
}

.form {
    background: rgba(42, 172, 223, 0.1);
    backdrop-filter: blur(5px);
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3); /* Bóng đổ */
    text-align: center;
    color: #121e5f;
    border: 1px solid rgba(255, 255, 255, 0.4); /* Viền trắng mờ */
    background: linear-gradient(135deg, rgba(123, 208, 227, 0.2), rgba(9, 73, 102, 0.1));
    display: flex;
    flex-direction: column;
    gap: 15px;
}

#registerForm {
    width: 350px;
}

h1 {
    margin-bottom: 20px;
}

.input-field {
    position: relative;
    /* margin: 15px 0; */
    border-bottom: 2px solid #ccc;
}

.input-field input {
    width: 100%;
    height: 40px;
    background: transparent;
    border: none;
    outline: none;
}

.input-field label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 0.9rem;
    pointer-events: none;
    transition: 0.3s ease;
}

.input-field input:focus ~ label,
.input-field input:valid ~ label {
    transform: translateY(-120%);
    top: 10px;
    font-size: 0.7rem;
}

.password-option {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
    font-size: 0.8rem;
}

.password-option label {
    display: flex;
    align-items: center;
}

.password-option label p {
    margin-top: 0;
    margin-left: 8px;
}

.password-option a {
    text-decoration: none;
    transition-duration: 0.3s;
}

.password-option a:hover {
    text-decoration: underline;
}

.submit-btn {
    width: 50%;
    font-weight: 600;
    color: #121e5f;
    padding: 12px 20px;
    border-radius: 8px;
    border: 2px solid transparent;
    cursor: pointer;
    transition: 0.3s ease;
    margin-top: 30px;
    margin: 10px auto 0px;
}

.submit-btn:hover {
    background: rgba(0, 0, 0, 0.15);
    color: #ccc;
    border-color: #fff;
}

.account-option {
    font-size: 0.75rem;
}

.account-option a {
    text-decoration: none;
}

.account-option a:hover {
    text-decoration: underline;
    transition: 0.3s ease;
}

.btn {
    background: rgba(64, 156, 218, 0.2);
    backdrop-filter: blur(30px);
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
}

.btn:hover {
    background: rgba(40, 143, 212, 0.2);
}

p {
    margin-top: 10px;
}
